<h1>URL Shortener Application</h1>

<div>
  <%= label_tag(:url, "Url to shorten:") %>
  <%= text_field_tag(:url) %>
  <%= link_to("Go", "", id:"commit", class:"button") %>
</div>

<h1>Shortened URL</h1>
<div name="shortened_url" />Results will appear here</div>